<h1>Great Hand for Life Time 汉化进度</h1>
<ul style="list-style: none; padding:0;margin:0;">

<% @a.each do |r|%>

<li style="padding: 5px 10px;
<% if r.data['status'] == 'Finished!' %>
background: #b7f665;
<% elsif !r.data['status'] %>
background: #cccccc;
<% elsif r.data['status'] == 'EN-?' || r.data['status'] == 'CN-?'%>
background: #f25757;
<% elsif r.data['status'] == 'EN-OK' %>
background: #65C4F7;
<% end %>
">
<a style="display:inline-block;" href="<%= r.data['url']%>" target="_blank"><span style="width: 120px;display:inline-block;font-family: sans-serif; margin-right: 10px;">Great Hand-<%= r.data['number'] %></span></a><span style="cursor: pointer;margin-left: 3em;display:inline-block;width: 7em;" class="status"><%=  r.data['status']? r.data['status'] :  'None' %></span>
	<span class="words" style="display:inline-block; margin-right: 20px;cursor: pointer;width: 50px;"><%= r.data['words']? r.data['words'].round(-2)/100: 1 %></span>
		<form class="status-form" style="display:inline;" action="/update/<%= r.key%>" method="post">
		<select name="name[status]">
			<option>EN-?</option>
			<option>EN-OK</option>
			<option>CN-?</option>
			<option>Finished!</option>
		</select>
		<input type="submit" class="words"/>	
	</form>
	<form class="words-form" style="display:inline;" action="/count/<%= r.key %>" method="post">
		<textarea name="name[transcript]" style="height:18px;" ></textarea>
		<input type="submit" />
	</form>

</li> 
<% end %>
</ul>
<script>
 $(function(){
		$('form').hide();
		$('.status').click(function(){
				$(this).parent().find('.status-form').toggle()
			});
		$('.words').click(function(){
			$(this).parent().find('.words-form').toggle()
		});
	}); 
</script>

